{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <div><img src="{{ listing.image }}" alt="{{ listing.title }}" width="500px"></div>
    <div> <strong>Description: </strong>{{ listing.description }}</div>
    <div> <strong>Price: </strong> ${{ listing.price|intcomma }} </div>
    <div><strong>Category: </strong>{{ category }}</div>
    {% if listing.user == current_user %}
        <div>Posted by: <strong>You</strong></div>
    {% else %}
        <div>Posted by User: <strong>{{ listing.user }}</strong></div>
    {% endif %}
    
    <!-- Comment Section -->
    <div>
        <strong> {{ comments|length }} Comment(s):</strong>
        <div>
            <form action="{% url 'listing' listing.id %}" method="post">
                <button name="watchlist">Add to watchlist</button>
                {% csrf_token %}
            </form>
        </div>
        <hr>
        <div>
            {% for comment in comments %}
                <div><em>Title:</em> <strong>{{ comment.title }}</strong></div>
                <div><em>Comment:</em> {{ comment.comment }}</div>
                {% if current_user == comment.user %}
                    <div><em>Posted by:</em> <strong>You</strong></div>
                {% else %}
                    <div><em>Posted by:</em> <strong>{{ comment.user }}</strong></div>
                {% endif %}    
                <hr>
            {% endfor %}
        </div>

        <!-- Not able to comment until logged in  -->
        {% if user.is_authenticated %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <div><input type="submit" value="Submit Comment"></div>
            </form>
        {% else %}
            <div>
                Please <a href="{% url 'login'%}">Login</a> or <a href="{% url 'register' %}">Register</a> to leave a comment.
            </div>
        {% endif %}
    </div>
    <!-- Comment Section End -->

{% endblock %}